services:
  apache_tika:
    container_name: apache_tika
    build: ./apache-tika-service/Dockerfile
    ports:
      - "9998:9998"
    networks:
      - decide
    restart: unless-stopped

  pdf-content-service:
    container_name: pdf-content-service
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8081:80"
    networks:
      - decide
    environment:
      MODE: "development"
      LOG_LEVEL: "info"
      MU_SPARQL_ENDPOINT: http://virtuoso:8890/sparql
      MU_SPARQL_UPDATEPOINT: http://virtuoso:8890/sparql
      APACHE_TIKA_URL: "http://apache_tika:9998/tika"
      EXPECTED_TASK_PREDICATE: "http://www.w3.org/ns/adms#status"
      EXPECTED_TASK_OBJECT: "http://redpencil.data.gift/id/concept/JobStatus/scheduled"
      TARGET_GRAPH: http://mu.semte.ch/graphs/harvesting
      PUBLICATION_GRAPH: http://mu.semte.ch/graphs/publication
      MOUNTED_SHARE_FOLDER: "/mnt/share"
    volumes:
      - ./:/app
      - ./../app-decide/data/files:/mnt/share

networks:
  decide:
    external: true
